.wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.img {
    width: 640px;
}

.title {
    color: var(--white);
    font-size: 3.2rem;
    padding-bottom: 24px;
    text-align: center;
    font-weight: 600;
}

.btn {
    &:hover {
        text-decoration: underline;
        color: var(--black-lv-9);
    }
}