.wrapper {
    width: 100%;
    color: var(--color-white);
    padding: 33px 32px 72px;
    height: fit-content;
}

.container {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}

.wrapper-content {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.content {
    min-width: 157px;
    max-width: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 0.5px;
    margin-right: 24px;
    margin-bottom: 32px;
}

.content-title {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 1.6rem;

    &:first-letter {
        text-transform: uppercase;
    }
}

.content .content-text-btn {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-base-color);
    margin: 8px 0;

    &:hover {
        span {
            color: var(--color-white);
        }
    }
}

.content-social {
    min-width: max-content;
}

.icon-btn {
    width: 40px;
    height: 40px;
    color: var(--color-white);
    margin-left: 16px;
    background-color: var(--color-black-mid);
    padding: 10px;
    font-size: 2.05rem;

    span {
        font-size: 1.8rem;
    }

    &:hover {
        cursor: default;
        background-color: #727272;
    }
}

.legal {
    padding-top: 36px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--text-base-color);
    font-weight: 400;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.legal-btn {
    color: var(--text-base-color);
    font-weight: 400;
    font-size: 1.4rem;
    margin-right: 16px;
    height: 30px;

    &:hover {
        text-decoration: none;
    }
}