.header {
    background-color: var(--background-noise);
    color: var(--color-white);
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    // box-shadow: var(--box-shadow);
}

.header.login {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    gap: 6px;
}

.logged {
    // display: grid;
    // grid-template-columns: 148px 1fr 32px;
    display: flex;
    align-items: center;
}

.back-forward {
    display: flex;
    align-items: center;
    width: 100%;
}

.back-btn, .forward-btn {
    opacity: 1;
    cursor: pointer;
    margin-right: 8px;
    background-color: #000000b3;

    svg {
        fill: var(--color-white);
    }
}

.back-btn.disable, 
.forward-btn.disable {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
        background-color: #000000b3;
    }
}

.upgrade-btn {
    font-size: 1.4rem;
    height: 32px;
    text-align: center;
    padding: 0;

    span {
        padding: 4px 16px;
        white-space: nowrap;
    }
}

.install-btn {
    background-color: rgba(0,0,0,0.54);
    color: var(--color-white);
    margin: 0 8px;
    height: 32px;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    max-width: 124px;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
        background-color: rgba(0,0,0,0.56);
        color: var(--color-white);
    }
}

.install-btn span:last-child {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-menu {
    height: max-content;
    // text-align: end;
    outline: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
}

.profile-btn {
    background-color: var(--color-black-deepest);
    cursor: pointer;
    transform: scale(1);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--color-black-deepest);
        color: var(--color-white);
        transform: scale(1.05) perspective(1px);
    }

    &:active {
        opacity: 0.7;
        outline: none;
        transform: scale(1);
        color: var(--text-subdued,#6a6a6a);
    }
}

.avatar-img {
    width: 24px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-menu .submenu {
    top: 10%;
    right: 3%;
    transform: translate(3%, 0%);
    position: absolute;
    
    a {
        justify-content: space-between;
    }
}

.navigation {
    height: 48px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.navigation-btn {
    display: inline-block;
    margin-right: 12px;
    transform: scale(1);
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 25px;
    padding: 8px 14px;
    color: var(--color-white);
    background-color: var(--color-black-darker);
    
    &:first-letter {
        text-transform: uppercase;
    }

    &.active {
        background-color: var(--color-white);
        color: var(--color-black-deepestest);
    }

    &:hover {
        transform: scale(1);
    }
}

// Responsive
@media only screen and (max-width: 1023px) {
    .header {
        padding: 0 16px 0 16px;
    }
    
    .upgrade-btn, 
    .forward-btn {
        display: none;
    }
}

// Tooltip 
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 330px;
    background-color: var(--color-black-mid);
    color: var(--color-white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    line-height: 1.7rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: absolute;
    bottom: -60%;
    right: 0;
    transform: translate(0%, 60%);
    display: block;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}