.wrapper {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.result-top-content {
    display: flex;
    flex-wrap: wrap;
}

.not-found {
    color: hsla(0,0%,100%,.7);
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    h4 {
        font-size: 2.4rem;
        margin-bottom: 8px;
        word-wrap: break-word;
        width: 100%;
        text-align: center;
    }

    p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        background-color: #181818;
        padding: 12px;
    }

    .wrapper-input {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 48px;

        .icon-link {
            padding: 12px;
            height: fit-content;
            width: fit-content;
            cursor: pointer;

            svg {
                width: 24px;
                height: 24px;
                fill: var(--color-white);
            }
        }
    }

    .navigation {
        height: 48px;
        padding: 8px 12px 0;
        display: flex;
        align-items: center;
    }
    
    .navigation-btn {
        display: flex;
        align-items: center;
        margin-right: 8px;
        transform: scale(1);
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: capitalize;
        border-radius: 25px;
        padding: 4px 12px;
        color: var(--color-white);
        background-color: #282828;
        height: 32px;
        width: fit-content;
    
        &.active {
            background-color: var(--color-green);
            color: var(--color-black-deepestest);
        }
    
        &:hover {
            background-color: #303030;
        }
    }

    .result-content {
        width: 100%;
    }
}