.navbar {
    background-color: var(--color-black-deepestest);
    color: var(--color-white);
    height: calc(100vh - 96px);
    position: relative;
    padding: 24px;
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 1;
}

.dragger {
    width: 5px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: -4px;
    top: 0;
    transform: translateX(4px);
    -webkit-touch-callout: none;
    user-select: none;
    
    &:hover,
    &:active {
        border-right: 1px solid var(--color-black-light);
        cursor: grab;
    }
}

.logo-img {
    margin-bottom: 3rem;
    height: 40px;
    max-width: 131px;
    width: 100%;
}

.navigation {
    vertical-align: middle;
}

.cookies-link {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 3.4rem;
    font-weight: 400;
    color: var(--text-base-color);

    &:hover {
        text-decoration: underline;
    }
}

// Logged
.navbar.login {
    height: calc(100vh - 96px);
    border-radius: 10px;
    background-color: var(--color-black-deepestest);
    padding: 0;
}

.dragger.login {
    right: -2px;
    top: 0;
    transform: translateX(2px);
    -webkit-touch-callout: none;
    user-select: none;
    
    &:hover,
    &:active {
        border-left: 1px solid var(--color-black-light);
        border-right: none;
    }
}

.navigation.login {
    border-radius: 10px;
    background-color: var(--color-black-darkest);
    padding: 18px 24px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    z-index: 10;
}

.library {
    border-radius: 10px;
    background-color: var(--color-black-darkest);
    height: calc(100vh - 248px);
    padding: 14px 0;
    z-index: 10;
}

.library-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: 6px;
    margin-bottom: 16px;
    padding: 0 18px;
}

.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.create-btn {
    position: absolute;
    left: -4px;
    top: 14px;
}

.collapse-btn {
    display: flex;
    align-items: center;
    color: var(--text-base-color);
    background-color: inherit;
    border: none;
    transform: scale(1); 
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 40px;

    span {
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis; 
    }

    &.active {
        color: var(--color-white);
    }

    &:hover {
        color: var(--color-white);
    }
}

.collapse-btn-icon {
    font-size: 1.4rem;
    margin-right: 1.6rem;
}

.library-control-icons {
    display: flex;
    font-size: 2rem;
}

.grid-btn:hover {
    svg {
        fill: var(--color-white);
    }
}

.wrapper-library-interact {
    display: flex; 
    justify-content: space-between;
}

.type-btn {
    margin-right: 8px;
}

.active {
    background-color: var(--color-white);
    color: var(--color-black-dark);
    margin: 0 8px;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-black-dark);
    }
}

.library-creator {
    margin-bottom: 12px;
    display: flex;
    padding: 0 18px;
}

.library-creator-btn {
    margin: 0;
    font-size: 2rem;
    background-color: var(--color-black-dark);
    color: var(--text-base-color);
    font-weight: 600;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 4px;
    text-align: center;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: var(--color-black-mid);
    }
}

.active-by-you {
    margin-left: 8px;
    height: 32px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    padding: 4px 12px;
    border-radius: 50px;
    border: none;
    background-color: #dedede;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: var(--color-white);
        width: 75px;
        height: 32px;
        transition: all .3s ease;
    }

    span {
        position: relative;
        display: inline-block;
        margin-right: 17px;
    }

    p {
        position: relative;
        display: inline-block;
    }

    &:hover {
        &::before {
            width: 100%;
            background: var(--color-white);
            transform: translateX(0);
        }
    }
}

.library-interact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 18px;
    height: 36px;
}

// Search library

.library-search-btn {
    margin-right: 16px;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-black-mid) !important;
    }
}

.library-search-btn.hide {
    display: none;
}

.form-nosubmit {
    color: var(--color-black-lightest);
    display: flex;
    justify-content: space-around;
    padding: 2px;
    border-radius: 5px;
    width: 188px;
    background-color: var(--color-black-mid);
}

.form-nosubmit.hide {
    display: none;
}

.input-nosubmit {
    background: transparent;
    border: none;
    margin: 0;
    margin-left: 6px;
    padding: 7px 0px;
    color: inherit;

    &::placeholder {
        color: #c0c0c0;
        font-weight: 600;
        font-size: 1.2rem;
    }

    &::-webkit-search-cancel-button{
        position: relative;
        right: 20px; 
        -webkit-appearance: none;
        height: 14px;
        width: 14px;
        border-radius: 3px;
        background:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#c0c0c0 45%,#c0c0c0 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, transparent 0%,transparent 43%,#c0c0c0 45%,#c0c0c0 55%,transparent 57%,transparent 100%);
    }
}

.btn-nosubmit {
    display: block;
    width: 40px;
    padding: 0 10px;
    margin: 0;
    margin-left: 16px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='white' viewBox='0 0 15 15'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: default;
    opacity: 0.9;
}
  
.btn-nosubmit:focus,
.input-nosubmit:focus {
    outline: none;
} 

// Library Dropdown
.library-sort-dropdown {
    height: 32px;
    outline: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    min-width: 30px;
    background-color: inherit;
    border: none;
    color: var(--text-base-color);
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    overflow: hidden;

    .dropdown-title {
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .dropdown-icon {
       margin-left: 5px;
       display: flex;
    }

    &:hover {
        color: var(--color-white);

        .dropdown-icon {
            svg {
                fill: var(--color-white);
            }
        }
    }
}

.submenu {
    position: absolute;
}

// Tooltip 
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--color-black-mid);
    color: var(--color-white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: fixed;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    transition: all 0.1s;
}

.tooltip .collapse-tooltiptext {
    left: 104px;
    bottom: 0%;
}

.create-btn .tooltiptext {
    left: 116px;
    bottom: 0%;
}

.library-search-btn .tooltiptext {
    left: 195%;
}

.tooltip:hover .tooltiptext {
    transition-delay: 0.6s;
    visibility: visible;
}