$textColor: hsla(0,0%,100%,.7);
$bgHeaderCpn: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),var(--background-noise);
$bgLinearContent: linear-gradient(rgba(0,0,0,.6) 0,var(--black-lv-7) 100%),var(--background-noise);

.wrapper {
    color: var(--white);
    background: $bgLinearContent;
}

.header {
    padding: 60px 24px 24px;
    width: 100%;
    background: $bgHeaderCpn;
    display: flex;
    align-items: flex-end;
}

.header-img {
    width: 192px;
    // min-width: 125px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    margin-right: 24px;
    border-radius: 50%;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 48px;
        height: 48px;
        fill: #7f7f7f;
    }
}

.header-title {
    font-size: 1.4rem;
    
    h1 {
        font-size: 9.6rem;
        margin-bottom: 18px;
    }

    h5 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
}

.interact {
    padding: 24px;
    display: flex;
    align-items: center;
}

.interact .follow-btn {
    padding: 7px 15px;
    text-transform: uppercase;
    transform: scale(1);
    margin-right: 32px;
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 3px;

    span {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: .1em;
        line-height: 16px;
    }
    
    &:hover {
        border-color: var(--white);
    }
}

.follow-btn.following {
    border-color: var(--white);
}

.save-icon,
.option-icon {
    margin-right: 32px;
    position: relative;

    svg {
        width: 32px;
        height: 32px;
        fill: $textColor;
    }

    &:hover {
        svg {
            fill: var(--white);
        }
    }
}

.option-icon {
    svg {
        width: 24px;
        height: 24px;
    }
}

// Tooltip 
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--black-lv-4);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.copyrights-label {
    margin-top: 32px;
    font-size: 1.2rem;
    color: $textColor;
    display: flex;
    flex-direction: column;
    padding: 0 24px;

    span {
        margin-bottom: 6px;
    }
}

.release-time {
    font-size: 1.4rem;
}


// Responsive
@media only screen and (max-width: 1023px) {
    .playlist-interact {
        padding: 24px 16px;
    }
}