.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    max-width: 900px;
    padding: 32px;
    color: var(--white);

    h3 {
        font-size: 2.4rem;
        font-weight: 600;
    }
}

.frame{
    h4 {
        font-size: 1.8rem;
    }
}

.content {
    width: 100%;
    position: relative;
    display: grid;
    gap: 8px 24px;
    grid-template-columns: 2fr 1fr;
    margin-top: 8px;
    font-size: 1.4rem;
    
    p {
        color: var(--text-base-color);
        display: block;
        width: 100%;
    }
}

.dropdown {
    max-width: calc(100%/3);
    padding: 0 32px 0 12px;
    height: 32px;
    color: hsla(0,0%,100%,.7);
    background-color: #333;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
    option {
        padding: 4px 0;
    }
}

.toggle-btn {
    width: 42px;
    height: 24px;
    background-color: #535353;
    border-radius: 25px;
    padding: 0 2px;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        background-color: var(--black-lv-2);

        .circle {
            transform: scale(1.05);
        }
    }
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border-radius: 50%;
    transform: scale(1);
}

// Toggle button active 
.toggle-btn.active {
    background-color: var(--green);

    .circle {
        float: right;
    }

    &:hover {
        filter: brightness(110%);
    }
}