.form-nosubmit {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    background-color: var(--black-lv-4);
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 10;
}

.form-nosubmit.sidebar-form.hide {
    display: none;
}

.form-nosubmit.header-form {
    color: var(--white);
    border-radius: 25px;
    max-width: 364px;
    width: 100%;
    height: 48px;
}

.form-nosubmit.playlist-form { 
    color: hsla(0,0%,100%,.7);
    width: 100%;
    height: 40px;
    min-width: 350px;
}

.form-nosubmit.sidebar-form {
    color: var(--black-lv-1);
    width: 188px;
    height: 32px;
}

.form-nosubmit.submenu-form {
    width: 250px;
    height: 32px;
    color: hsla(0,0%,100%,.7);
    background-color: hsla(0,0%,100%,.1);
    margin-top: -4px;
}

.input-nosubmit {
    padding: 7px 20px 7px 0;
    width: 100%;
    background: transparent;
    border: none;
    margin: 0;
    color: inherit;

    &::placeholder {
        color: #c0c0c0;
        font-weight: 400;
        font-size: 1.35rem;
    }

    &::-webkit-search-cancel-button{
        position: relative;
        right: -10px; 
        -webkit-appearance: none;
        height: 14px;
        width: 14px;
        border-radius: 3px;
        background:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#c0c0c0 45%,#c0c0c0 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, transparent 0%,transparent 43%,#c0c0c0 45%,#c0c0c0 55%,transparent 57%,transparent 100%);
    }
}

.input-nosubmit.sidebar-form {
    // margin-left: 6px;
    padding: 7px 4px 7px 0;
    
    &::placeholder {
        font-size: 1.3rem;
    }

    &::-webkit-search-cancel-button {
        right: 0px; 
        margin-left: 4px;
    }
}

.btn-nosubmit {
    display: block;
    width: 16px;
    padding-left: 32px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='white' viewBox='0 0 15 15'%3E%3Cpath d='M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: default;
    opacity: 0.9;
}

.btn-nosubmit.playlist-form {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='hsla(0,0%,100%,.7)' viewBox='0 0 15 15'%3E%3Cpath d='M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}

.btn-nosubmit.sidebar-form {
    padding: 0 8px 0 18px;
    margin-top: -1px;
    margin-left: -2px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='white' viewBox='0 0 15 15'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}
  
.input-nosubmit:focus {
    outline: none;
} 

.btn-nosubmit.sidebar-form:focus{
    outline: none;

} 