$textColor: hsla(0,0%,100%,.7);
$bgHeaderCpn: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),var(--background-noise);
$bgLinearContent: linear-gradient(rgba(0,0,0,.6) 0,var(--black-lv-7) 100%),var(--background-noise);

.wrapper {
    color: var(--white);
}

.header {
    padding: 60px 24px 24px;
    width: 100%;
    background: $bgHeaderCpn;
    display: flex;
    align-items: flex-end;
}

.header-img {
    width: 192px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    margin-right: 24px;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 48px;
        height: 48px;
        fill: #7f7f7f;
    }
}

.creator-img {
    width: 24px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    margin-right: 2px;
    border-radius: 50%;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 16px;
        height: 16px;
        fill: #7f7f7f;
    }
}

.header-title {
    font-size: 1.4rem;
    
    h1 {
        font-size: 9.6rem;
        margin-bottom: 28px;
    }

    .header-duration {
        color: $textColor;
    }
}

.header-sub-title {
    display: block;
    margin-top: -16px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: $textColor;
}

.playlist-intro {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        padding-top: 2px;
    }
}

.header-creator-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-creator {
    color: var(--white);
    font-weight: 600;
    padding: 2px 0 0;

    &:hover {
        text-decoration: underline;
    }
}

.playlist-interact {
    padding: 24px;
    background: $bgLinearContent;
    display: flex;
    align-items: center;
}

.playlist-interact .play-btn {
    width: 56px;
    height: 56px;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    margin-right: 32px;
    

    span {
       font-size: 3.5rem;
    }
    
    &:hover {
        color: var(--black-lv-9);
        transform: scale(1.05);
    }
}

.save-icon,
.option-icon {
    margin-right: 32px;
    position: relative;

    svg {
        width: 32px;
        height: 32px;
        fill: $textColor;
    }

    &:hover {
        svg {
            fill: var(--white);
        }
    }
}

.option-icon {
    svg {
        width: 24px;
        height: 24px;
    }
}

.wrapper-search-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin-top: 24px;
    border-top: 1px solid hsla(0,0%,100%,.1);
}

.search-track {
    h4 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }
}

.form-nosubmit {
    color: hsla(0,0%,100%,.7);
    display: flex;
    justify-content: space-around;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    min-width: 350px;
    background-color: var(--black-lv-4);
    border: 1px solid transparent;
}

.input-nosubmit {
    background: transparent;
    border: none;
    margin: 0;
    padding: 7px 20px 7px 0;
    color: inherit;
    width: 100%;

    &::placeholder {
        color: #c0c0c0;
        font-weight: 400;
        font-size: 1.35rem;
    }

    &::-webkit-search-cancel-button{
        position: relative;
        right: -10px; 
        -webkit-appearance: none;
        height: 14px;
        width: 14px;
        border-radius: 3px;
        background:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#c0c0c0 45%,#c0c0c0 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, transparent 0%,transparent 43%,#c0c0c0 45%,#c0c0c0 55%,transparent 57%,transparent 100%);
    }
}

.btn-nosubmit {
    display: block;
    width: 16px;
    padding-left: 32px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='hsla(0,0%,100%,.7)' viewBox='0 0 15 15'%3E%3Cpath d='M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: default;
    opacity: 0.9;
}
  
.input-nosubmit:focus {
    outline: none;
} 

.close-search-btn {
    width: 40px;
    height: 40px;

    svg {
        width: 24px;
        height: 24px;
    }
}

.show-search {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: end;
    padding: 32px;
    cursor: pointer;
}

.search-result {
    color: hsla(0,0%,100%,.7);
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h4 {
        font-size: 2.4rem;
        margin-bottom: 8px;
    }

    p {
        font-size: 1.4rem;
    }
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;
    margin-bottom: 34px;
}

.page-btn {
    color: var(--black-lv-9);
    background-color: var(--white);
    padding: 6px 8px;
    border-radius: 5px;
    min-width: 34px;
    text-align: center;

    &.active {
        color: var(--white);
        background-color: var(--green);
    }
}

// Tooltip 
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--black-lv-4);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


// Responsive
@media only screen and (max-width: 1023px) {
    .playlist-interact {
        padding: 24px 16px;
    }
}