$textColor: hsla(0,0%,100%,.7);
$bgHeaderCpn: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),var(--background-noise);
$bgLinearContent: linear-gradient(rgba(0,0,0,.6) 0,var(--black-lv-7) 200px),var(--background-noise);

.creator-img {
    width: 24px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    margin-right: 2px;
    border-radius: 50%;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 16px;
        height: 16px;
        fill: #7f7f7f;
    }
}

.header-duration {
    color: $textColor;
}

.header-sub-title {
    display: block;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: $textColor;
}

.playlist-intro {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        padding-top: 2px;
    }
}

.header-creator-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-creator {
    color: var(--white);
    font-weight: 600;
    padding: 2px 0 0;

    &:hover {
        text-decoration: underline;
    }
}

// Responsive
@media only screen and (max-width: 1023px) {
    .playlist-interact {
        padding: 24px 16px;
    }
}