.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;
    margin-bottom: 34px;
}

.page-btn {
    color: var(--black-lv-9);
    background-color: var(--white);
    padding: 6px 8px;
    border-radius: 5px;
    min-width: 34px;
    text-align: center;

    &.active {
        color: var(--white);
        background-color: var(--green);
    }
}