.create-menu {
    height: max-content;
    outline: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;   
    cursor: pointer;
    border-radius: 50%;

    span {
        cursor: pointer;
    }

    &:hover {
        background-color: var(--color-black-mid);
        
        span {
            color: var(--color-white);
        }
    }
}

.create-menu.collapse {
    margin-top: 13px;
    left: -12%;
}

.create-menu .create-btn {
    &:active {
        background-color: var(--color-black-deepestest);
        color: var(--color-white);
    }
}

.submenu {
    position: absolute;
}

// Tooltip 
.tooltip {
    transition-delay: 5s;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--color-black-mid);
    color: var(--color-white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: fixed;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    transition: all 0.1s;
}

.create-btn.tooltiptext {
    left: 116px;
    bottom: 0%;
}

.tooltip .collapse-tooltiptext {
    left: 118px;
    bottom: 0%;
}

.tooltip:hover .tooltiptext {
    transition-delay: 0.6s;
    visibility: visible;
}
