$bd-radius: 5px;

.kind-card {
    background-color: var(--background-category);
    padding: 20px 16px;
    position: relative;
    aspect-ratio : 1 / 1;
    border-radius: $bd-radius;
    overflow: hidden;
    word-break: break-word;
    min-width: 157px;
    box-shadow: var(--box-shadow-2);
}

.kind-title {
    color: var(--white);
    font-size: 2.3rem;
    font-weight: 600;
}

.kind-img {
    width: 100px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    object-position: center center;
    position: absolute;
    bottom: 0%;
    right: 0;
    transform: rotate(25deg) translate(17%,-2%);
}

.card {
    padding: 16px;
    background-color: #181818;
    border-radius: $bd-radius;
    // text-align: end;
    outline: none;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: var(--box-shadow-2);

    &:hover {
        background-color: var(--black-lv-4);

        .wrapper-btn {
            visibility: visible;
            opacity: 1;
            transform: translate(-94%, -90%) scale(1);
        }
    }
}

.wrapper-img {
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $bd-radius;
    aspect-ratio: 1;
    box-shadow: var(--box-shadow);
}

.img, 
.kind-img {
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
    margin-right: -2px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 48px;
        height: 48px;
        fill: #7f7f7f;
    }
}

.img.rounded,
.kind-img.rounded {
    border-radius: 50%;
}

.wrapper-btn {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 94%;
    transform: translate(-94%, -90%) scale(1.4);
    width: fit-content;
    height: fit-content;
    transition: all 0.4s;
}

.wrapper-btn.active {
    visibility: visible;
    opacity: 1;
    transform: translate(-94%, -90%) scale(1);
}

.play-btn {
    transform: scale(1);
    box-shadow: var(--box-shadow);
    transition: all 0.2s;

    svg {
        width: 22px;
        height: 22px;
        fill: #000;
    }
    
    &:hover {
        color: var(--black-lv-9);
        transform: scale(1.05);
    }
}

.description {
    margin-top: 16px;
    text-align: left;

    h4 {
        margin-bottom: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
        -webkit-box-orient: vertical;
        color: var(--white);
    }

    p {
        font-size: 1.4rem;
        color: var(--text-base-color);
        line-height: 1.5em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
        max-height: 3em;
    }
}

.remove-btn {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 28px;
    height: 28px;
    background-color: rgba(0,0,0,.3);
    cursor: default;
    transform: scale(1);

    &:hover {
        background-color: rgba(0,0,0,.3);
        transform: scale(1.08);
    }
}

// Top result
.card.top-result {
    min-width: 372px;
    padding: 20px;
}

.img.top-result {
    min-width: 92px;
    width: 92px;
}

.description.top-result {
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 3.2rem;
        padding-top: 8px;
        padding-bottom: 4px;
    }
}

.sub-title {
    display: flex;
    align-items: center;

    p { 
        margin-right: 8px;
        display: flex;
        align-items: center;
    }
}

.wrapper-btn.top-result {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
