.header {
    background-color: var(--black-lv-8);
    color: var(--white);
    height: var(--header-home-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}
