$textColor: hsla(0,0%,100%,.7);

.wrapper {
    height: 72px;
    width: 100%;
    min-width: 800px;
    padding: 12px 32px 12px 22px;
    background-color: aquamarine;
    margin-top: 8px;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h5 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}

// Logged
.wrapper.login {
    background: var(--black-lv-9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    width: 100%;
}

.intro,
.track-render {
    width: 30%;
    min-width: 180px;
}

.wrapper-player-control {
    width: 40%;
    max-width: 722px;
}

.intro {
    display: flex;
    align-items: center;
    gap: 16px;
}

.intro-img {
    width: 56px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    box-shadow: var(--box-shadow);
    // margin-right: 16px;
    border-radius: 5px;
}

.track-description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 70%;
    width: fit-content;
}

.track-credits {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: fit-content;

    span {
        margin: 0 2px;
    }
}

.track-name,
.track-album {
    color: var(--white);
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

.track-album {
    max-width: 100%;
}

.track-artists {
    max-width: 100%;
    margin-top: 2px;
    color: var(--text-base-color);
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-artist {
    color: var(--text-base-color);
    font-size: 1.1rem;
}

.track-name,
.track-album, 
.track-artist {
    &:hover {
        color: var(--white);
        text-decoration: underline;
    }
}

.svg-icon {
    position: relative;
    display: flex;

    svg {
        fill: $textColor;
    }

    &:hover {
        svg {
            fill: var(--white);
        }
    }
}

.svg-icon.active {
    svg {
        fill: var(--green);
    }

    &::before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: var(--green);
        border-radius: 50%;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.save-btn.active {
    &::before {
        display: none;
    }
}

.wrapper-player-control {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-control {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-bottom: 6px;
    width: 100%;
}

.wrapper-progress-bar {
    width: 100%;
}

.play-btn {
    background-color: var(--white);
    transform: scale(1);

    svg {
        fill: var(--black-lv-9);
    }

    &:hover {
        cursor: default;
        background-color: var(--white);
        transform: scale(1.05);
    }
}

.track-progress {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    height: 12px;

    span {
        margin-top: 2px;
    }
}

.track-duration {
    font-size: 1.1rem;
    color: $textColor;
    display: block;
    width: 54px;
}

.player-control.disable {
    .svg-icon {
        svg {
            fill: #4d4d4d;
        }
    }

    .shuffle-icon,
    .repeat-icon {
        svg {
            fill: #323232;
        }
    }

    .play-btn {
        background-color: #4d4d4d;
    }
}

.svg-icon.disable {
    svg {
        fill: #4d4d4d;
    }
}

.progress-bar,
.volume-slider  {
    width: 100%;
    height: 4px;
    background-color: hsla(0,0%,100%,.3);
    border-radius: 2px;
}

input[type="range"] {
    --range-progress: 0;

    appearance: none;
    position: relative;
    background-color: hsla(0,0%,100%,.3);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
}

/* Input range - firefox */
input[type="range"]::-moz-range-track {
    position: relative;
    background-color: hsla(0,0%,100%,.3);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type="range"]::before {
    content: '';
    height: 4px;
    background: var(--white);
    width: var(--range-progress);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

/* played progress length - firefox */
input[type="range"]::-moz-range-progress {
    background: var(--white);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    height: 4px;
}

input[type="range"].disable::before {
    background: hsla(0,0%,100%,.5);
}

/* slider thumb - chrome and safari */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: none;
    background-color: var(--white);
    cursor: pointer;
    position: relative;
    visibility: hidden;
}

/* dragging thumb - chrome and safari */
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    visibility: visible;
}

input[type="range"]:hover::-webkit-slider-thumb {
    visibility: visible;
}

input[type="range"]:hover::-moz-range-thumb {
    visibility: visible;
}

/* slider thumb - firefox */
input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
    border: transparent;
    position: relative;
}
/* dragging thumb - firefox */
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    visibility: visible;
}

input[type="range"]:active::before {
    background-color: var(--green);
}

.track-render {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 32px;

    span {
        display: flex;
    }

    span + span {
        margin-left: 16px;
    }
}

.queue-btn {
    display: flex;
    padding: 0 14px;
    align-items: center;
}

.volume-slider {
    max-width: 93px;
    margin-left: 8px;
}

// Tooltip 
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 330px;
    background-color: var(--black-lv-4);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    line-height: 1.7rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}