$textColor: hsla(0, 0%, 100%, 0.7);

.header-title {
    font-size: 1.4rem;

    h1 {
        font-size: var(--page-header-font-size);
        margin-bottom: 18px;
    }

    h5 {
        font-size: 1.4rem;
    }

    .header-duration {
        color: $textColor;
    }
}

.intro {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;

    span {
        padding-top: 2px;
    }
}

.header-creator-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.creator-img {
    width: 24px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 2px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 16px;
        height: 16px;
        fill: #7f7f7f;
    }
}

.header-creator {
    color: var(--white);
    font-weight: 600;
    padding: 2px 0 0;

    &:hover {
        text-decoration: underline;
    }
}

.submenu {
    svg {
        width: 16px;
        height: 16px;
    }
}

.artists-list {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 28px;
}

.artist-tag {
    height: 96px;
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 8px;

    &:hover {
        background-color: hsla(0,0%,100%,.1);
        border-radius: 4px;
    }

    .artist-intro {
        display: flex;
        flex-direction: column;
        font-weight: 600;
    }

    .artist-sub-title {
        font-size: 1.5rem;
        padding-bottom: 8px;
        text-transform: capitalize;
    }

    .artist-title {
        font-size: 1.6rem;
        color: var(--white);

        &:hover {
            text-decoration: underline;
        }
    }
}

.artist-img {
    width: 80px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 16px;
}

.top-tracks-header {
    margin-bottom: -14px;
    font-size: 1.4rem;
    color: $textColor;
    display: block;
    z-index: 10;
    position: relative;
}

.album-content-header {
    display: flex;
    align-items: center;
    margin: 13px 24px -16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.3);
    }
}

.album-content-img {
    width: auto;
    height: 80px;
    object-fit: cover;
    aspect-ratio: 1;
    margin-right: 16px;
    border-top-left-radius: 8px;
}

.album-content-title {
    display: flex;
    flex-direction: column;

    span {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    a {
        color: var(--white);
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.copyrights-label {
    margin-top: -12px;
    margin-bottom: 44px;
    font-size: 1.2rem;
    color: $textColor;
    display: flex;
    flex-direction: column;
    padding: 0 24px;

    span {
        margin-bottom: 6px;
    }
}

.release-time {
    font-size: 1.4rem;
}

// Tooltip
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 330px;
    background-color: var(--black-lv-4);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    line-height: 1.7rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

// Responsive
@media only screen and (max-width: 1023px) {
    .playlist-interact {
        padding: 24px 16px;
    }
}
