$textColor: hsla(0,0%,100%,.7);
$bgHeaderCpn: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),var(--background-noise);
$bgLinearContent: linear-gradient(rgba(0,0,0,.6) 0,var(--black-lv-7) 100%),var(--background-noise);

.wrapper {
    color: var(--white);
}

.header {
    padding: 60px 24px 24px;
    width: 100%;
    background: $bgHeaderCpn;
    display: flex;
    align-items: flex-end;
}

.header-img {
    width: 192px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    box-shadow: var(--box-shadow);
    margin-right: 24px;
}

.header-title {
    font-size: 1.4rem;
    
    h1 {
        font-size: 9.6rem;
        margin-bottom: 18px;
    }

    h5 {
        font-size: 1.4rem;
    }

    .header-duration {
        color: $textColor;
    }
}

.header-creator {
    color: var(--white);
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.interact {
    padding: 24px;
    background: $bgLinearContent;
    display: flex;
    align-items: center;
}

.interact .play-btn {
    width: 56px;
    height: 56px;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    margin-right: 32px;
    

    span {
       font-size: 3.5rem;
    }
    
    &:hover {
        color: var(--black-lv-9);
        transform: scale(1.05);
    }
}

.save-icon,
.option-icon {
    margin-right: 32px;
    position: relative;

    svg {
        width: 32px;
        height: 32px;
        fill: $textColor;
    }

    &:hover {
        svg {
            fill: var(--white);
        }
    }
}

.option-icon {
    svg {
        width: 24px;
        height: 24px;
    }
}

.top-tracks-header {
    padding: 24px 24px 6px;
    font-size: 1.4rem;
    color: $textColor;
}

.album-content-header {
    display: flex;
    align-items: center;
    margin: 13px 24px -16px;
    background-color: hsla(0,0%,100%,.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &:hover {
        background-color: hsla(0,0%,100%,.3);
    }
}

.album-content-img {
    width: auto;
    height: 80px;
    object-fit: cover;
    aspect-ratio: 1;
    margin-right: 16px;
    border-top-left-radius: 8px;
}

.album-content-title {
    display: flex;
    flex-direction: column;
    
    span {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }
    
    a {
        color: var(--white);
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

.copyrights-label {
    margin-top: -12px;
    margin-bottom: 44px;
    font-size: 1.2rem;
    color: $textColor;
    display: flex;
    flex-direction: column;
    padding: 0 24px;

    span {
        margin-bottom: 6px;
    }
}

.release-time {
    font-size: 1.4rem;
}

// Tooltip 
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--black-lv-4);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 7px 8px;
    font-size: 1.35rem;
    font-weight: 500;
    box-shadow: var(--shadow-4);
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 9999;
    box-shadow: var(--box-shadow);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


// Responsive
@media only screen and (max-width: 1023px) {
    .playlist-interact {
        padding: 24px 16px;
    }
}