.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;
    margin-bottom: 34px;
}

.page-btn {
    color: var(--color-black-deepestest);
    background-color: var(--color-white);
    padding: 9px;
    border-radius: 5px;
    min-width: 34px;
    text-align: center;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.6rem;

    &.active {
        color: var(--color-white);
        background-color: var(--color-green);

        &:hover {
            filter: brightness(110%);
        }
    }

    svg {
        font-weight: 600;
    }

    &:hover {
        filter: brightness(95%);
    }
}

.etc {
    color: var(--color-white);
    width: 24px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 12px 0;
    }
}