.wrapper-submenu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    color: var(--white);
    background: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.submenu-children .wrapper-submenu {
    position: absolute;
    height: 100%;
}

.submenu-content {
    display: block;
    min-width: 160px;
    width: max-content;
    max-width: 258px;
    background-color: var(--black-lv-4);
    padding: 4px;
    border-radius: 5px;
    z-index: 9999;
    position: fixed;
    // inset: auto auto 0px 0px;
    box-shadow: var(--box-shadow);   
}

.submenu-content.l-pos {
    left: 0%;
    right: 0%;
    top: 15%;
    transform: translate(0%, 15%);
}

.submenu-content.icon {
    top: 30%;
    left: 26%;
    transform: translate(-26%, 20%);
}

.item {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 12px 12px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    height: 40px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;

    button {
        background-color: transparent;
        color: #ffffffe6;
        border: none;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
    }
    
    &:hover {
        background-color: hsla(0,0%,100%,.1);
    }
}

.item.search {
    padding: 0;
    height: 36px;

    &:hover {
        background-color: var(--black-lv-4);
    }
}

.l-pos {
    .item {
        justify-content: left;
    }
}

.item.disable {
    button {
        color: var(--text-base-color);
        font-size: 1.1rem;
        text-align: start;
        cursor: default;
    }

    &:hover {
        background-color: inherit;
    }
}

.item.active {
    button {
        color: var(--green); 
    }

    &::before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%231ed760" viewBox="0 0 16 16"><path d="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0z"></path></svg>');
        display: block;
        position: absolute;
        right: 12px;               
        top: 50%;                   
        transform: translateY(-50%);
        font-weight: 600;    
        color: var(--green); 
    }
}

.bd-bt {
    &::after {
        content: "";
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.l-icon-inline {
    margin-right: 8px;
}

.r-icon-inline {
    margin-left: 22px;
    display: flex;
}

.submenu-children {
    position: absolute;
    display: none;
    top: 0px;
}

.submenu-children .submenu-content {
    width: 258px;
}

.children:hover .submenu-children {
    display: block;
}